@media screen and (max-width: 600px) {

    .cover-container{
        padding: 10%;
    }
    .secletion{
        align-items: center;
        padding: ;
    }
    main,
    header {
        margin: 0 auto;
        width: 90.25%;
    }

    nav,
    .video-section,
    .newsletter {
        flex-direction: column;
    }

    .secletion {
        width: 180px;
    }

    .service-content-box,
    .secletion,
    .popular-tour {
        flex-direction: column;
        width: 100%;
        background-repeat: no-repeat;
    }

    .places-container {
        flex-direction: column;
        align-items: center;
    }

    .package-2,
    .package-1,
    .package-description {
        height: auto;
        width: auto;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .na,
    .kashmir,
    .bangladesh,
    .bandarban {
        width: 90vw;
        max-width: none;
    }

    .content-box-3 {
        width: 91%;
    }

    .video,
    .letter-img,
    .newsletter-form {
        margin-top: 1.5rem;
        width: auto;
    }

    /* img{
        width: 20.938rem;
    } */
}